{% load static %}
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <!-- Dashboard -->
    <li class="nav-item">
      <a class="nav-link" href="{% url 'student_dashboard'%}">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <!-- My Profile -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'student_profile'%}">
        <i class="bi bi-person"></i>
        <span>My Profile</span>
      </a>
    </li>

    <!-- Academic Performance -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#performance-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-bar-chart"></i><span>Performance</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="performance-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
       
        <li>
          <a href="{% url 'individual_student_progress'%}">
            <i class="bi bi-circle"></i><span>My Results</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>My Ranking</span>
          </a>
        </li>
      </ul>
    </li>

    <!-- Subjects -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'enroll_subjects'%}">
        <i class="bi bi-journal-text"></i>
        <span>Enroll Subjects</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'timetable_list'%}">
        <i class="bi bi-table"></i>
        <span>TimeTables</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'assignment_list'%}">
        <i class="bi bi-book"></i>
        <span>Assignments</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'resources_list'%}">
        <i class="bi bi-journal-check"></i>
        <span>Resources</span>
      </a>
    </li>

    <!-- Exams & Reports -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#exam-nav"  href="{% url 'report_for_term'%}">
        <i class="bi bi-journal-plus"></i>
        <span>Reporting</span>
      </a>
      
    </li>

    <!-- Fee Information -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'view_all_fee_structures'%}">
        <i class="bi bi-cash-coin"></i>
        <span>Fee Structures</span>
      </a>
    </li>

    <!-- Attendance -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'student_teachers'  %}">
        <i class="bi bi-people"></i>
        <span>Teachers</span>
      </a>
    </li>

    <!-- Events & Notices -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'current_term_events'%}">
        <i class="bi bi-megaphone"></i>
        <span>Events & Notices</span>
      </a>
    </li>

    <!-- Help & Support -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'help_and_support'%}">
        <i class="bi bi-question-circle"></i>
        <span>Help & Support</span>
      </a>
    </li>

    <!-- Logout -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'logout' %}">
        <i class="bi bi-box-arrow-right"></i>
        <span>Logout</span>
      </a>
    </li>

  </ul>

</aside><!-- End Sidebar -->
