{% extends "base/base.html" %}

{% block content %}

<div class="message-container" id="system-messages">
    {% for message in messages %}
    <div class="alert-message alert-{{ message.tags }}">
        {{ message }}
        <span class="close-message">&times;</span>
    </div>
    {% endfor %}
</div>

<div class="pagetitle">
    <h1>Students</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">Home</a></li>
            <li class="breadcrumb-item">Students records</li>
            <li class="breadcrumb-item active"><a href="{% url 'student_create' %}">Add Student</a></li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Student Data Records List</h5>

                    <a href="#" class="btn btn-success mb-3">Promote Students</a>

                    <div class="table-responsive">
                        <table class="table table-striped datatable">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Registration </th>
                                    <th>Programme</th>
                                    <th>Phone</th>
                                    <th>Year</th>
                                    <th>Gender</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in students %}
                                <tr>
                                    <td>
                                        <a href="{% url 'student_progress' student.id %}">
                                            {{ student.first_name}}  {{ student.last_name}}
                                        </a>
                                    </td>
                                    <td><a href="{% url 'student_detail' student.id %}">{{ student.registration_number }}</a></td>
                                    <td>
                                        
                                            {{ student.programme }}
                                       
                                    </td>
                                    <td> {{ student.phone_number }} </td>
                                    <td>{{ student.current_year }}.{{ student.current_semester }}</td>
                                    <td>{{ student.gender }}</td>
                                    <td><a href="{% url 'student_update' student.pk %}">Edit</a></td>
                                    <td><a href="{% url 'student_delete' student.pk %}">Delete</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
