{% extends "base/base.html" %}

{% block content %}

<div class="message-container" id="system-messages">
    {% for message in messages %}
    <div class="alert-message alert-{{ message.tags }}">
        {{ message }}
        <span class="close-message">&times;</span>
    </div>
    {% endfor %}
</div>

<div class="pagetitle">
    <h1>lecturers</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">Home</a></li>
            <li class="breadcrumb-item">lecturer records</li>
            <li class="breadcrumb-item active"><a href="{% url 'lecturer_create' %}">Add lecturer</a></li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">lecturer Data Records List</h5>

                    <a href="#" class="btn btn-success mb-3">Add lectuer</a>

                    <div class="table-responsive">
                        <table class="table table-striped datatable">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Staff ID</th>
                                    <th>Rank</th>
                                    <th>dpt</th>
                                    <th>Phone</th>
                                    <th>Type</th>
                                  
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for lecturer in lecturers %}
                                <tr>
                                    <td>
                                        <a href="{% url 'lecturer_detail' lecturer.id %}">
                                            {{ lecturer.first_name}}  {{ lecturer.last_name}}
                                        </a>
                                    </td>
                                    <td>{{ lecturer.staff_id}}</td>
                                    <td>{{ lecturer.academic_rank }}</td>
                                    <td>
                                        
                                            {{ lecturer.department }}
                                       
                                    </td>
                                    <td> {{ lecturer.phone_number }} </td>
                                    <td>{{ lecturer.employment_type }}</td>
                                    
                                    <td><a href="{% url 'lecturer_update' lecturer.pk %}">Edit</a></td>
                                    <td><a href="{% url 'lecturer_delete' lecturer.pk %}">Delete</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
